body {
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
	font-family: 宋体, verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #363636;
}

.ui-widget {
	font-family: 宋体, verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}

.ui-datalist {
	border: none;
	background: none;
}

.ui-datalist:hover {
	border: none;
	background: none;
}

.ui-datalist-content {
	background: none;
	border: none;
}

.ui-datalist-item {
	float: left !important;
	padding-left: 20px;
	padding-bottom: 15px;
}

.ui-dialog {
	z-index: 999999999999999 !important;
}

.ui-dialog .ui-dialog-content {
	padding: 5px !important;
}
.ui-tagcloud{
	width:99% !important;
	border:none !important;
}